.clients {
    display: flex;
    // margin-top: 50px;
    justify-content: center;
    gap: 10px;

    @media (max-width:850px) {
        flex-direction: column-reverse;
        align-items: center;
        gap: 10px;
    }

    .clientsDetails {
        width: 55%;
        text-align: left;
        // border: 1px solid black;
        border-radius: 40px;
        padding: 8px;
        max-height: 480px;
        scroll-behavior: smooth;
        overflow-y: scroll;
        scroll-behavior: auto;

        &::-webkit-scrollbar {
            width: 0px;
            background: transparent;
        }

        @media (max-width:850px) {
            width: 100%;
        }

        .accordian {

            .selectedCard {
                background-color: lightblue;
            }

            .review-title {
                display: flex;
                flex-wrap: wrap;
                // gap: 10px;

                .profileImg {
                    width: 60px;
                    height: 60px;
                    border-radius: 50%;
                    margin-right: 10px;
                }

                .review-name {
                    margin-top: 5px;

                    .css-i4bv87-MuiSvgIcon-root {
                        font-size: 18px;
                        position: relative;
                        bottom: 5px;
                    }

                    h3 {
                        // margin-left: 0.1875rem;
                        margin-bottom: 0;
                    }
                }

                .review-email {
                    margin-top: 7px;
                    margin-left: 5px;
                    position: relative;
                    top: 5px;
                    color: gray;
                }
            }

            //css name align at center in accordian
            .css-o4b71y-MuiAccordionSummary-content {
                align-items: center;
            }

            //accordian shape and size
            .css-1elwnq4-MuiPaper-root-MuiAccordion-root,
            .css-1c35hjw-MuiPaper-root-MuiAccordion-root {
                border-radius: 40px;
                margin-bottom: 10px;

                &::before {
                    height: 0px;
                }

                &:hover {
                    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
                }
            }

            .css-o4b71y-MuiAccordionSummary-content {
                margin: 8px 0;
            }
        }
    }

    .clientsImg {
        width: 45%;
        // border: 1px solid black;
        text-align: center;

        @media (max-width:850px) {
            width: 100%;
        }

        img {
            height: 500px;
            width: 90%;

            @media (max-width:850px) {
                width: 85%;
                height: 400px;
            }

            @media (max-width:500px) {
                width: 100%;
            }
        }
    }
}


.checkwatermark {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 600px;
    height: auto;
    // border: 1px solid black;

    .watermark {
        position: relative;
        width: 100%;
        height: 300px;
        background: url("../Images/bg.jpg");
        background-size: cover;
        background-repeat: no-repeat;
    }

    ::before {
        content: '';
        position: absolute;
        top: 0px;
        left: 0;
        width: 100%;
        height: 100%;
        background: url("../Images/splash.jpg");
        background-size: 100%;
        background-position: center;
        mix-blend-mode: screen;

    }
}