.footer {
    padding: 4rem 6rem;
    background-color: black;
    color: white;

    @media (max-width: $tabs) {
        padding: 4rem 3rem;
    }

    .footer-companyText {
        display: flex;
        align-items: center;
        text-align: start;
        justify-content: space-between;
        flex-wrap: wrap;

        .footer-title {
            font-size: 3rem;
            font-weight: 600;
        }

        .footer-info {
            font-size: 1rem;
        }

        a {
            color: white;
            margin-left: 0.5rem;

            &:hover {
                color: #019598;
            }

            @media (max-width: $tabs) {
                margin-left: 0;
                position: relative;
                top: 0.5rem;
                margin-right: 0.5rem;
            }
        }

        @media (max-width: $tabs) {
            flex-direction: column;
            align-items: start;
        }
    }

    .footer-details {
        padding-top: 2rem;
        text-align: start;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 1rem;
        font-size: 1.2rem;

        .footer-lists {
            display: flex;
            flex-direction: column;

            h4 {
                padding-bottom: 0.8rem;
            }

            a {
                text-decoration: none;
                color: white;
                padding-bottom: 0.1rem;
                font-size: 1rem;
            }
        }
    }
}