.hotels {
    display: flex;
    margin-top: 3.125rem;
    padding-right: 0;
    gap: 1.25rem;

    @media (max-width: $desktop) {
        flex-direction: column;
    }

    .hotels-offers {
        width: 50%;
        height: auto;
        position: relative;
        text-align: left;

        @media (max-width: $desktop) {
            width: 100%;
            text-align: center;
        }

        .hotels-bgimg {
            position: absolute;
            right: -1.5625rem;
            width: 56%;
            height: 62%;
            object-fit: fit;
            z-index: -1;
            opacity: 0.5;
            top: 10%;
            transition: 1s ease-in-out;

            @media (max-width: $desktop) {
                width: 100%;
                left: 0;
                right: 0;
            }
        }

        .hotels-specialTag {
            font-size: 2.875rem;
        }

        .hotels-offersblock {
            display: flex;
            flex-direction: column;
            margin-top: 3.25rem;
            transition: 1s ease-in-out;

            .hotel-offersTag {
                transition: 1s ease-in-out;

                .hotels-offersText {
                    font-size: 1.375rem;
                    font-weight: 600;

                    span:nth-child(1) {
                        color: gray;
                    }

                    span:nth-child(2) {
                        color: red;
                        font-size: 2.5rem;
                    }
                }
            }

            .hotel-offersTagViewMore {
                @media (min-width: $desktop) {
                    margin-bottom: 7.5rem;
                    transition: 1s ease-in-out;
                }
            }

            .hotel-searchBlock {
                .hotel-searchText {
                    font-size: 1.375rem;
                    margin: 0;
                }

                .hotels-searchBtn {
                    margin-top: 0.3125rem;
                    border: none;
                    background: orange;
                    color: white;
                    padding: 0.625rem;
                    width: 60%;
                    border-radius: 3.125rem;
                    cursor: pointer;
                    min-width: 26.25rem;

                    @media (max-width: $desktop) {
                        min-width: 22.5rem;
                    }

                    @media (max-width: $mobile) {
                        min-width: 10%;
                        font-size: 0.875rem;
                    }
                }

                @media (max-width: $desktop) {
                    text-align: center;
                    width: 100%;
                }

                .hotels-searchdisabledBtn {
                    background: lightgray;
                    color: rgb(151, 140, 140);

                    &:hover {
                        border: none;
                        cursor: default;
                    }
                }
            }

            @media (max-width: $desktop) {
                margin-top: 26.875rem;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
            }
        }

        .hotel-offersViewMore {
            @media (min-width: $desktop) {
                margin-top: 12.125rem;
                transition: 1s ease-in-out;
            }
        }
    }

    .hotels-cardsBlock {
        width: 55%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        @media (max-width: $desktop) {
            width: 100%;
            display: block;
        }

        .hotels-cards {
            max-height: 18.75rem;
            scroll-behavior: auto;
            overflow: hidden;
            transition: 1s ease-in-out;

            @media (max-width: $desktop) {
                max-height: 18.75rem;
            }
        }

        .hotels-viewMore {
            max-height: 35.625rem;
            overflow: auto;
            transition: 1s ease-in-out;
        }

        .hotels-viewMoreBtn {
            background: orange;
            color: white;
            width: 11.25rem;
            padding: 0.625rem 0;
            border-radius: 1.25rem;
            border: none;
            font-size: 1.125rem;
            cursor: pointer;
            position: relative;
            bottom: 4.0625rem;
            z-index: 10;
        }

        .hotels-cards2 {
            display: none;

            @media (min-width: $desktop) and (max-width: $hotels-card2-row) {
                display: inline-block;
            }

            @media (max-width: $hotels-card2-row-tabs) {
                display: inline-block;
            }
        }

        .hotels-cards1 {
            display: none;
        }
    }
}