$Card-width : 400px;
$Card-height : 250px;
$Card-margin : 10px;

$Card4-row: 1807.5px;
$Card3-row: calc($Card4-row - $Card-width - 2 * $Card-margin);
$Card2-row: calc($Card3-row - $Card-width - 2 * $Card-margin);